body {
  margin: 0;
  padding: 0;
  font-family: HKGrotesk;
}

@font-face {
  font-family: 'HKGrotesk';
  src: local('HKGrotesk'), url(./fonts/HKGrotesk-Regular.otf) format('truetype');
}


@font-face {
  font-family: 'HKGroteskSemi';
  src: local('HKGrotesk'), url(./fonts/HKGrotesk-SemiBold.otf) format('truetype');
}